.python-version
dontBuild
__pycache__
*~
*Pack.yaml
node_modules
ceFlutter/build
ceFlutter/ingestFlawedRun
ceFlutter/ingestRawFixAssignee
ceFlutter/chromedriver
ceFlutter/chromedriverLin/
webServer/dump*
webServer/ghJsonPayloads/
webServer/tests/testData/*
webServer/tests/flutterTestData/
webServer/public-flutter
webServer/build/
webServer/crons/
ops/aws/.aws-sam/
ops/github/auth/README.txt
ops/aws/lambdaHandlers/consoleTest
ops/github/auth/ari-github-recovery-codes.txt
ops/github/auth/rm2k-github-recovery-codes.txt
ops/aws/auth/authenticator.txt
.svnignore.txt
tmp*
dump
*.log
*.old
*.orig
