.python-version
dontBuild
__pycache__
*~
*Pack.yaml
node_modules
ceFlutter/build
webServer/dump*
webServer/ghJsonPayloads/
webServer/tests/testData/*
webServer/tests/flutterTestData/
webServer/public-flutter
webServer/build/
ops/aws/.aws-sam/
ops/github/auth/README.txt
ops/aws/lambdaHandlers/consoleTest
.svnignore.txt
tmp*
dump
*.log
*.old
*.orig
